<div class="container">
  <h1 id="weather-header">
    <i class="wi wi-day-sunny"></i> Your Local Weather Forecast
  </h1>

  <h2 id="forecast-title">Seven Day Forecast</h2>

  <div class="container">
    <div *ngIf="forecast | async as f" class="forecast-container">
      <div class="today forecast">
        <div class="forecast-header">
          <div class="day">{{f.currently.time * 1000 | date: 'MMM d'}}</div>
        </div> <!-- .forecast-header -->
        <div class="forecast-content">
          <div class="location">{{f.timezone}}</div>
          <div class="degree">
            <div class="num">{{f.currently.temperature | number:'1.0-0'}}<sup>o</sup>C</div>
            <div class="forecast-icon">
              <i [class]="weatherIcon(f.currently.icon)" style="font-size:250%"></i>
            </div>
          </div>

          <div id="today-details">
            <span><i class="wi wi-raindrops"></i>  {{f.currently.humidity * 100 | number: '1.0-1'}}%</span>
            <span><i class="wi wi-strong-wind"></i>  {{f.currently.windSpeed | number: '1.0-1' }} km/h</span>
            <span><i class="wi wi-barometer"></i>  {{f.currently.pressure | number: '1.0-0' }} hPa</span>
          </div>
        </div>
      </div>
      <div *ngFor="let day of f.daily.data | slice:1" class="forecast">
        <div class="forecast-header">
          <div class="day">{{ day.time * 1000 | date: 'MMM d' }}</div>
        </div> <!-- .forecast-header -->
        <div class="forecast-content">
          <div class="forecast-icon">
            <i [class]="weatherIcon(day.icon)" style="font-size:250%"></i>
          </div>
          <div class="degree">{{day.temperatureMax | number:'1.0-0'}}<sup>o</sup>C</div>
          <small>{{day.temperatureMin | number:'1.0-0'}}<sup>o</sup>C</small>
          <div class="forecast-icon">
            <i class="wi wi-sandstorm" style="font-size:150%; margin-top: 35%"></i>
          </div>
          <div class="num" style="font-size:100%">{{day.windSpeed | number:'1.0-0'}} km/h</div>
        </div>
      </div>
    </div>
  </div>
</div>
