<h1>User {{user.username}} Details</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="userForm.submitted && userForm.invalid">Please Enter Valid Data
  </div>
  <form (ngSubmit)="!userForm.invalid && save()" #userForm="ngForm">
    <fieldset class="form-group">
      <label>User ID: </label>
      <label>
        <input type="text"
               [(ngModel)]="user.userId"
               class="form-control" name="userId" disabled>
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>Username: </label>
      <label>
        <input type="text"
               [(ngModel)]="user.username"
               class="form-control" name="username" required="required" minlength="2">
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>First Name: </label>
      <label>
        <input type="text"
               [(ngModel)]="user.firstName"
               class="form-control" name="firstName" required="required" minlength="2">
      </label>
    </fieldset>
    <fieldset class="form-group">
      <label>Last Name: </label>
      <label>
        <input type="text"
               [(ngModel)]="user.lastName"
               class="form-control" name="lastName" required="required" minlength="2">
      </label>
    </fieldset>


    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

