<div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
<form class="form-inline">
  <label class="sr-only">Username</label>
  <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="username" name="username" placeholder="username">

  <label class="sr-only">Password</label>
  <div class="input-group mb-2 mr-sm-2">
    <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="password">
  </div>

  <button type="submit" class="btn btn-primary mb-2" (click)=handleJWTAuthLogin() *ngIf="!userLogged">Sign in</button>

</form>
<button type="submit" class="btn btn-primary mb-2" (click)=Logout()>Logout</button>
