<H1>Apartment {{apartment.number}} Details</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="apartmentForm.submitted && apartmentForm.invalid">Please Enter Valid Data
  </div>
  <form (ngSubmit)="!apartmentForm.invalid && saveApartment()" #apartmentForm="ngForm">
    <fieldset class="form-group">
      <label>Apartment ID</label>
      <label>
        <input type="text" #apartmentId="ngModel"
               [(ngModel)]="apartment.apId" class="form-control" name="apId" disabled>
      </label>
    </fieldset>

    <fieldset class="form-group">
      <label>Apartment Number</label>
      <label>
        <input type="number" #apartmentNumber="ngModel"
               [(ngModel)]="apartment.number" class="form-control" name="apNumber"
               required="required" minlength="1">
      </label>
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
