<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Smartest | Estate Management</title>
</head>
<body>
    <div align="center">
        <h1>Welcome to The Smartest - Smart Estate Management Application</h1>
<!--        <h1 th:text="${apartments}"></h1>-->
        <table border="1">
            <tr th:each="apartment : ${apartments}">
                <td th:text="${apartment.getApId()}"></td>
                <td th:text="${apartment.getNumber()}"></td>
            </tr>
        </table>
        <!--        <a th:text="Apartments List" th:href="apartments"></a>-->
    </div>
</body>
</html>